div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  border: 1px solid #000;
  border-radius: 1rem;
}

.imagem {
  align-content: center;
  padding: 0.5rem;
}

input {
  height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  outline: none !important;
  border: none !important;
  background: #fff;
}
